<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Document</title>
    <style>
        .h{
            margin-left: 600px;
        }
    </style>
</head>
<body>
    <div class="o">
        <h1 class="h">counter</h1>
        <h1>Counter Value: {{ counter_value }}</h1>
        <form action="/increment" method="get">
            <button class="btn btn-outline-success">Success</button>
        </form>
        <form action="/reset" method="get">
            <button class="btn btn-outline-danger">reset</button>
        </form>
    </div>
</body>
</html>