*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
    padding: 10px;

}
.nav-links{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.nav-title{
    margin-left: 10px;

}
.btn{
    background-color: aquamarine;
    box-shadow: 4px 4px 2px 1px black;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.active{
    font-family: 'Courier New', Courier, monospace;
}