<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="{{ url_for('static', filename='/style.css') }}" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <h2 class="wel">Welcome!</h2>
    <div class="flex">
        {% for x in range(number | int): %}
        <div class="boox" style="background-color: {{ color }};"></div>
        {% endfor %}
    </div>
</body>
</html>